<form action="{% url 'vote'  question.id%}" method="post">
{% csrf_token %}
<fieldset>
<h1 style="background-color: powderblue">{{ question.question_text }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% if question.Question.all %}
        {%  for choice in  question.Question.all %}
           <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
        <input type="submit" value="Vote">
   {% else %}
        <p>No votes.. </p>
    {% endif %}

</fieldset>



</form>